---
layout: default
title:  关于我
---

<div class="about">
    <h3>关于我</h3>
    <p style="margin-top: 10px;">txazoc</p>
    <p>90后 Java程序员</p>
    <p>专注jvm、高并发、高性能</p>
    <p>QQ 784990655</p>
    <p>邮箱 <a class="email" href="mailto:txazoc@163.com">txazoc@163.com</a></p>
    <p style="margin-top: 10px;">微信扫描二维码加好友</p>

    <div class="qrcode">
        <img class="weixin" src="{% if site.localDebug == 'true' %}{{ site.localDomain }}{% else %}{{ site.indexSpeedDomain }}{% endif %}/images/weixin.png">
    </div>

    <p>支付宝扫描二维码赞助</p>

    <div class="qrcode">
        <img class="zhifubao" src="{% if site.localDebug == 'true' %}{{ site.localDomain }}{% else %}{{ site.indexSpeedDomain }}{% endif %}/images/zhifubao.png">
    </div>
</div>
