<footer class="footer" id="footer">
    <div class="focus">
        <div class="wrapper">
            {% for f in site.focus %}
            <a id="{{ f[0] }}" href="{{ f[1] }}" target="_blank">
                <i class="flaticon-{{ f[0] }}"></i>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="copy-right">
        <div class="wrapper">
            <span>Copyright © 2016 txazo.com</span>
            <span class="split"> | </span>
            <span>粤ICP备14070725号</span>
        </div>
    </div>
</footer>

{% for js in site.js %}
<script src="{{ js | prepend: site.baseurl }}"></script>
{% endfor %}

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?0d7547701e484811b2f5d1a2e0ad2450";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
