@charset "UTF-8";

// About
.about {
    text-align: center;
    margin-top: 10px;

    h3 {
        line-height: 2;
    }

    p {
        line-height: 2;
        color: #777;
        font-size: 14px;
    }

    a {
        color: #6cc;

        &:hover {
            color: #f66;
        }
    }

    .qrcode {
        text-align: center;
        padding: 10px 0;

        img {
            width: 250px;
            height: 250px;

            &.weixin {
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            &.zhifubao {
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }
    }
}
