@charset "UTF-8";

// Archive
.archive {
    display: none;
    margin-top: 10px;

    h3 {
        text-align: center;
        line-height: 2;
        margin-bottom: 20px;
    }

    .month {
        .node {
            height: 54px;

            .node_title {
                float: left;
                color: #f1a7d1;
                font-size: 16px;
                margin-left: 15px;
                line-height: 54px;
            }

            .node_circle {
                float: left;
                width: 54px;
                height: 54px;
                border-radius: 50%;
                border: 4px solid #efcfef;

                img {
                    margin-top: -4px;
                    width: 54px;
                    height: 54px;
                }
            }
        }

        .dates {
            clear: both;
            margin-left: 26px;
            padding-left: 40px;
            border-left: 4px solid #d7e4ed;

            .date {
                padding: 10px 0;
                font-size: 14px;

                span {
                    color: #bbb;
                }

                a {
                    margin-left: 20px;
                    color: #6cc;

                    &:hover {
                        color: #f66;
                    }
                }
            }
        }
    }
}
