@charset "UTF-8";

// Archive
.archive {
    margin-top: 10px;

    h3 {
        text-align: center;
        line-height: 2;
        margin-bottom: 20px;
    }

    .month {
        .node {
            height: 20px;

            .node_title {
                float: left;
                width: 70px;
                color: #f66;
                font-size: 16px;
                margin: 2px 0;
                line-height: 1;
            }

            .node_circle {
                float: left;
                width: 20px;
                height: 20px;
                background-color: #f66;
                border-radius: 20px;

                &:hover {
                    background-color: #6cc;
                }
            }
        }

        .dates {
            clear: both;
            margin-left: 79px;
            padding-left: 20px;
            border-left: 2px solid #f66;

            .date {
                padding: 4px 0;
                font-size: 14px;

                span {
                    color: #999;
                }

                a {
                    margin-left: 20px;
                    color: #6cc;

                    &:hover {
                        color: #f66;
                    }
                }
            }
        }
    }
}
