@charset "UTF-8";

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?n0qayw');
    src: url('fonts/icomoon.eot?n0qayw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n0qayw') format('truetype'),
    url('fonts/icomoon.woff?n0qayw') format('woff'),
    url('fonts/icomoon.svg?n0qayw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
    content: "\e900";
}

.icon-stop:before {
    content: "\e901";
}

.icon-arrow-up:before {
    content: "\e902";
}

@font-face {
    font-family: "Flaticon";
    src: url("fonts/flaticon.eot");
    src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("fonts/flaticon.woff") format("woff"),
    url("fonts/flaticon.ttf") format("truetype"),
    url("fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 24px;
    font-style: normal;
}

.flaticon-email:before {
    content: "\e000";
}

.flaticon-facebook:before {
    content: "\e001";
}

.flaticon-github:before {
    content: "\e002";
}

.flaticon-linkedin:before {
    content: "\e003";
}

.flaticon-qzone:before {
    content: "\e004";
}

.flaticon-rss:before {
    content: "\e005";
}

.flaticon-twitter:before {
    content: "\e006";
}

.flaticon-weibo:before {
    content: "\e007";
}

.flaticon-weixin:before {
    content: "\e008";
}

@font-face {
    font-family: "iconfont";
    src: url('fonts/iconfont.eot?t=1462444536'); /* IE9*/
    src: url('fonts/iconfont.eot?t=1462444536#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff?t=1462444536') format('woff'), /* chrome, firefox */
    url('fonts/iconfont.ttf?t=1462444536') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg?t=1462444536#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
    content: "\e66a";
}

.icon-sina:before {
    content: "\e66b";
}

.icon-weixin:before {
    content: "\e66c";
}
