@charset "UTF-8";

// Footer
.footer {
    display: none;

    .copy-right {
        padding: 20px 0;
        font-size: 13px;
        text-align: center;
        background-color: #222;

        span {
            color: #999;

            @media (max-width: $media-divide-width) {
                display: block;

                + span {
                    margin-top: 10px;
                }

                &.split {
                    display: none;
                }
            }
        }
    }
}
