@charset "UTF-8";

// Home
.home-nav {
    visibility: hidden;
    min-height: 35px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9F3F3;

    .title {
        color: #66d9ef;
        font-size: 16px;
        line-height: 1.4;
        font-weight: bold;
    }

    .sub-title {
        color: #66d9ef;
        margin-left: 15px;
        font-size: 13px;
        line-height: 1.8;
    }

    > span {
        font-size: 13px;
    }

    > .dire {
        color: #ccc;
        margin-left: 15px;
        font-size: 13px;
        line-height: 1.8;
    }

    > .tag {
        color: #ccc;
        margin-left: 15px;
        font-size: 13px;
        line-height: 1.8;
    }
}
