@charset "UTF-8";

// Main
.main {
    padding: 10px 0 30px 0;
}

.list_tag {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9F3F3;

    a {
        color: #6cc;
        font-size: 18px;
        line-height: 1.4;
        font-weight: bold;

        &:hover {
            color: #f66;
        }
    }

    span {
        margin-left: 15px;
        font-size: 14px;
        line-height: 1.8;

        &.tag {
            color: #f1a7d1;
        }

        &.dire {
            color: #ccc;
        }
    }
}

// List
.list {
    clear: both;

    ul {
        list-style: outside none none;

        li {
            padding: 20px 0 10px 0;
            border-bottom: 1px solid #e9F3F3;

            .list-title {
                a {
                    color: #6cc;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 48px;

                    &:hover, &:focus {
                        color: #f66;
                    }
                }
            }

            .list-content {
                p {
                    color: #6f6f6f;
                    font-size: 13px;
                    letter-spacing: 1px;
                    line-height: 2;
                }
            }

            .list-info {
                padding: 10px 0;

                .datetime {
                    color: #c3c3c3;
                    font-size: 12px;
                }
            }
        }
    }
}

// Page
.page {
    margin-top: 25px;
    text-align: center;

    @media (min-width: $media-divide-width) {
        a {
            padding: 5px 25px;
            color: #6cc;
            background: #f6f6f6;
            border-radius: 20px;
            border: 1px solid #f3f3f3;

            &.hover {
                &:hover {
                    color: #f3f3f3;
                    background: #f99;
                }
            }

            + a {
                margin-left: 50px;
            }
        }
    }

    @media (max-width: $media-divide-width) {
        a {
            color: #6cc;

            &.hover {
                &:hover {
                    color: #f99;
                }
            }

            + a {
                margin-left: 32px;
            }
        }
    }

    .summary {
        float: right;
        color: #999;
    }
}

// Article
.article {
    .title {
        padding: 0;

        h1 {
            font-size: 24px;
            font-weight: bold;
            line-height: 3;
            word-break: normal;
        }
    }

    .tag {
        padding: 0;

        .item {
            display: inline-block;
            margin-right: 10px;
            padding: 10px 0;

            a {
                padding: 7px 14px;
                font-size: 14px;
                color: #787D82;
                background-color: #EDF1F2;
                border-radius: 14px;
                white-space: nowrap;

                &:hover {
                    color: #f8f8f8;
                    background-color: #f99;
                }
            }
        }
    }

    .info {
        padding: 10px 0;

        .publish {
            display: inline-block;
            font-weight: bold;
            font-size: 14px;
            color: #3c9;
            white-space: nowrap;
        }

        .datetime {
            display: inline-block;
            font-size: 14px;
            color: #B5B9BC;
            white-space: nowrap;
        }
    }

    .share {
        text-align: center;
        //margin: 20px 0 0 0;
        padding: 30px 0 0 0;
        //border-top: 1px solid #e3F3F3;

        a {
            padding: 0 5px;
            color: #8f969f;
            font-size: 36px;

            &.icon-qq:hover {
                color: #56abe4;
            }

            &.icon-sina:hover {
                color: #eb4f38;
            }

            &.icon-weixin:hover {
                color: #11cd6e;
            }
        }
    }
}
