@charset "UTF-8";

// Source
.source-nav {
    visibility: hidden;
    min-height: 35px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9F3F3;

    a {
        color: #6cc;
        font-size: 16px;
        line-height: 1.4;
        font-weight: bold;
    }

    > span {
        margin-left: 15px;
        font-size: 13px;
        line-height: 1.8;
    }

    > .dire {
        color: #ccc;
    }

    > .tag {
        color: #6f6f6f;
    }
}
