@charset "UTF-8";

// Tags
.tags {
    display: none;
    margin-top: 30px;

    h3 {
        line-height: 2;
    }

    .items {
        text-align: center;
        margin-top: 10px;

        .item {
            display: inline-block;
            margin-right: 10px;
            padding: 15px 0;

            a {
                padding: 7px 14px;
                font-size: 14px;
                color: #FFF;
                border-radius: 14px;
                white-space: nowrap;

                &:hover {
                    color: #f8f8f8;
                    background-color: #f99;
                }
            }
        }
    }
}

$tag-color-ratio: 20%;

.color_red {
    background-color: lighten(#DB2828, $tag-color-ratio);
}

.color_orange {
    background-color: lighten(#F2711C, $tag-color-ratio);
}

.color_yellow {
    background-color: lighten(#FBBD08, $tag-color-ratio);
}

.color_olive {
    background-color: lighten(#B5CC18, $tag-color-ratio);
}

.color_green {
    background-color: lighten(#21BA45, $tag-color-ratio);
}

.color_teal {
    background-color: lighten(#00B5AD, $tag-color-ratio);
}

.color_blue {
    background-color: lighten(#2185D0, $tag-color-ratio);
}

.color_violet {
    background-color: lighten(#6435C9, $tag-color-ratio);
}

.color_purple {
    background-color: lighten(#A333C8, $tag-color-ratio);
}

.color_pink {
    background-color: lighten(#E03997, $tag-color-ratio);
}
