@charset "UTF-8";

// Tags
.tags {
    display: none;
    text-align: center;
    margin-top: 10px;

    h3 {
        line-height: 2;
    }

    .items {
        margin-top: 10px;

        .item {
            display: inline-block;
            padding: 15px 15px;

            @media (max-width: $media-divide-width) {
                padding: 8px 8px;
            }

            a {
                padding: 7px 14px;
                font-size: 14px;
                color: #FFF;
                text-shadow: 1px 1px 1px #ccc;
                border-radius: 14px;
                white-space: nowrap;

                @media (max-width: $media-divide-width) {
                    padding: 6px 8px;
                    border-radius: 14px;
                }

                &:hover {
                    color: #f8f8f8;
                    text-shadow: 1px 1px 1px #333;
                    border-radius: 7px;
                }
            }
        }
    }
}

$background-color-ratio: 25%;
$border-color-ratio: 23%;
$background-hover-color-ratio: 0%;
$border-hover-color-ratio: 0%;

.color_red {
    @include tag-color(#DB2828, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}

.color_orange {
    @include tag-color(#F2711C, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}

.color_yellow {
    @include tag-color(#FBBD08, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}

.color_olive {
    @include tag-color(#B5CC18, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}

.color_green {
    @include tag-color(#21BA45, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}

.color_teal {
    @include tag-color(#00B5AD, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}

.color_blue {
    @include tag-color(#2185D0, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}

.color_violet {
    @include tag-color(#6435C9, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}

.color_purple {
    @include tag-color(#A333C8, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}

.color_pink {
    @include tag-color(#E03997, $background-color-ratio, $border-color-ratio, $background-hover-color-ratio, $border-hover-color-ratio);
}
