@charset "UTF-8";

// Topics
.topic-search {
    padding-top: 30px;
    text-align: center;

    .ui.input input {
        color: #dfdfdf;
        letter-spacing: 0.5px;
        border-radius: 10px;
        font: 400 14px/1.5 Menlo, "Courier New", Consolas, Monaco, "Andale Mono", monospace;
        -webkit-appearance: none;

        &:focus {
            border-color: #ed9595;
            color: #6cc;
        }

        &:focus::-webkit-input-placeholder {
            color: #fff;
        }
        &:focus::-moz-placeholder {
            color: #fff;
        }
        &:focus:-ms-input-placeholder {
            color: #fff;
        }
    }
}

.topics {
    margin-top: 30px;

    .topic {
        padding: 16px 16px;
        border: 1px solid #dfdfdf;
        border-radius: 10px;

        &:not(first-child) {
            margin-top: 30px;
        }

        .topic-header {
            h3 {
                padding-bottom: 6px;
                color: #ed9595;
                font-size: 18px;
                letter-spacing: 1px;
            }
        }

        .topic-list {
            span {
                margin: 10px 20px 0 0;
                font-size: 14px;
                display: inline-block;

                a {
                    color: #6cc;
                    letter-spacing: 1px;

                    &:hover {
                        color: #f66;
                    }
                }
            }
        }
    }
}

.topic-tip {
    display: none;
    text-align: center;
    font-size: 16px;
    color: #bbb;
}
