@charset "UTF-8";

// Topics
.topic-search {
    padding-top: 30px;
    text-align: center;

    .ui.input input {
        letter-spacing: 0.5px;
        border-radius: 10px;
        font: 400 14px/1.5 Menlo, "Courier New", Consolas, Monaco, "Andale Mono", monospace;
        -webkit-appearance: none;
    }
}

.topics {
    margin-top: 30px;

    .topic {
        padding: 15px 16px;
        border: 1px solid #dfdfdf;
        border-radius: 10px;

        &:not(first-child) {
            margin-top: 30px;
        }

        .topic-header {
            h3 {
                padding: 2px 0;
                color: #f1a7d1;
                font-size: 18px;
                letter-spacing: 1px;
            }
        }

        .topic-list {
            span {
                margin: 15px 20px 0 0;
                font-size: 14px;
                display: inline-block;

                a {
                    color: #6cc;
                    letter-spacing: 1px;

                    &:hover {
                        color: #f66;
                    }
                }
            }
        }
    }
}
